page-signin {
  .scroll-content{
    background: url(../assets/bg/beer_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    text-align: center;
  }

  img{
    width: 180px;
    margin-bottom: 16px;
  }

  .infos{
    margin-top: 10vh;

    .signup-wrapper{
      margin-top: 16px;

      .signup{
        color: color($colors, SCyellow);
        letter-spacing: 0.1rem;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }

    .item{
      padding: 0px;
      border: 1px solid #dedede;
      border-radius: 3px;
      margin-top: 10px;
    }

    .item-inner{
      background-color: rgba(0, 0, 0, 0.3);
    }

    .text-input{
      padding-left: 10px;
    }

    .item-ios{
      background-color: transparent;
      color: color($colors, SClightgrey);
    }

    .item-md{
      background-color: transparent;
      color: color($colors, SClightgrey);
    }

    .list-ios{
      margin: -1px 0 18px;
    }

    .list-md{
      margin: -1px 0 18px;
    }

    .options{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .forgot-password{
        color: color($colors, SClightgrey);
        font-size: 1.5rem;
        font-weight: bold;
      }

      .button{
        width: 110px;
      }
    }
  }
}
