page-signup {
    .content{
      background: url(../assets/bg/bg-black.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  
    .toolbar-background{
      border-width: 0px !important;
      background-color: transparent;
    }
  
    .toolbar{
      .button-inner{
        color: white;
      }
    }
  
    .infos{
      margin-top: 20%;
      text-align: center;
  
      img{
        width: 120px;
      }
  
      h1{
        color: white;
        font-size: 1.7rem;
      }
  
      .form-error{
        background-color: rgba(252, 45, 45, 0.75);
        color: white;
        margin-top: 3px;
        border-radius: 2px;
        padding: 2px 0px;
      }
  
      .item{
        padding: 0px;
        border: 1px solid #dedede;
        border-radius: 3px;
        margin-top: 10px;
      }
  
      .item-inner{
        background-color: rgba(0, 0, 0, 0.3);
      }
  
      .text-input{
        padding-left: 10px;
      }
  
      .item-ios{
        background-color: transparent;
        color: color($colors, SClightgrey);
      }
  
      .item-md{
        background-color: transparent;
        color: color($colors, SClightgrey);
      }
  
      .list-ios{
        margin: -1px 0 18px;
      }
  
      .list-md{
        margin: -1px 0 18px;
      }
  
      .back-wrapper{
        margin-top: 24px;
      }
  
      .back{
        font-weight: bold;
        color: color($colors, SCyellow)
      }
    }
  }
  